/* Place CSS styles here */
img{
    width: 100%;
    height: auto;
}
.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap'
    -webkit-clip-path: inset (50%) ;
    clip-path: inset (50%);
    border: 0;
}
.home-page-img{
    width: 100%;
}
.main-nav{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
    }
.main-nav a{
    color: black;
}
.header{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.header p{
    margin: 0;
    font-size: 45px;
}
.intro-name{
    font-size: xx-large;
    color: black;
}

.mobile-image
{
    width: 32px;
}
.portfolio-wrapper{
    padding-top: 32px;
    border-top: 1px solid black
}
.gallery-team-list {
        padding-left: 0;
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        grid-gap: 4px;
      }
      
      @media (max-width: 999px) {
        .gallery-team-list {
            grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
            display: grid;
        }
    }
      
.about-text {
    gap: 20x;
    padding: 10px;
}
.portfolio-contact-form{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.about-text{
    font-size: larger;

}
.about-img{
    max-width: 20%;
}
.gallery-feature-image{
    max-width: 20%;
}


.portfolio-footer {
        padding: 10px;
        margin: 10px
}